body, html {
    background-color: #121212;
    color: #efefef;
}
button {
    background-color: rgb(245, 197, 24);
    color: #121212;
}
input {
    color: #121212;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(245, 197, 24);
}